# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
*.egg-info/

# Django
*.log
local_settings.py
db.sqlite3
media/

# Environment variables
.env
*.env

# ML / Data
scripts/scraped_preview.json

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Docker
pgadmin_data/
